<div class="bootstrap-iso" id="component_{{ data.component.componentId }}">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <form method="post">
                    <div class="form-group ">
                        <label class="control-label " for="name">
                            <span *ngIf="data.component.componentData.componentGroups[0].label.requiredAttr.model" class="required" style="color: red;">*</span>
                            {{ data.component.componentData.question.model }}
                        </label>

                        <div class="input-group col-xs-2">
                            
                            <input type="text" name="meetupDateInput"
                            [attr.value]="data.component.componentData.componentGroups[0].dateBox.model"
                            id="dateBoxId" style="border-radius:4px;border:solid 1px #dbdbdb;padding: 4px 12px" />

                            <!-- <div class="input-group-addon">
                                <i class="fa fa-calendar-check-o">
                                </i>
                            </div> -->
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>